*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	/* min-height: 100vh; */
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background: #3a3f42;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}



#self-view video {
    /* Flip the display of the local user in self view*/
    -webkit-transform: rotateY(180deg); /* Safari, Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    transform: rotateY(180deg); /* Microsoft, etc. */
  }